<!-- Footer -->
<footer class="footer mt-auto">
  <div class="copyright bg-white">
    <p>
      Copyright &copy; <span id="ec-year"></span><a class="text-primary" href="#" target="_blank"> Greeny Admin Dashboard</a>. All Rights Reserved.
    </p>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/vendor/swal/sweetalert2.all.min.js"></script>
<script src="/assets/js/formControl.js"></script>