<aside class="nav-sidebar">
  <div class="nav-header"><a href="#"><img src="/images/logo.png" alt="logo"></a><button class="nav-close"><i class="icofont-close"></i></button></div>
  <div class="nav-content">
    <% if (typeof user == 'undefined' || !user) { %>
    <div class="nav-btn">
      <a href="/login" class="btn btn-inline">
        <i class="fa fa-unlock-alt"></i><span>join here</span>
      </a>
    </div>
    <% } %>
    <ul class="nav-list">
      <li><a class="nav-link dropdown-link" href="/"><i class="icofont-home"></i>Home</a>
      </li>
      <li><a class="nav-link dropdown-link" href="/shop"><i class="icofont-food-cart"></i>shop</a>
      </li>
      <% if (typeof user != 'undefined' && user) { %>

      <li><a class="nav-link dropdown-link" href="#"><i class="icofont-bag-alt"></i>my account</a>
        <ul class="dropdown-list">
          <li><a href="/profile">profile</a></li>
          <li><a href="/wishlist">wishlist</a></li>
          <li><a href="#">compare</a></li>
          <li><a href="/orders">order history</a></li>
        </ul>
      </li>

      <li><a class="nav-link" href="/logout"><i class="icofont-logout"></i>logout</a></li>
      <% } %>
    </ul>
    <div class="nav-info-group">
      <div class="nav-info"><i class="icofont-ui-touch-phone"></i>
        <p><small>call us</small><span>(+91) 987 654 3210</span></p>
      </div>
      <div class="nav-info"><i class="icofont-ui-email"></i>
        <p><small>email us</small><span>support@greeny.com</span></p>
      </div>
    </div>
  </div>
</aside>