<%
var user = locals.user || null;
var cart = locals.cart || null;
var wishlist = locals.wishlist || null;
%>
<div class="mobile-menu">
  <a href="/home" title="Home Page">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </a>
  <button class="cate-btn" title="Category List">
    <i class="fas fa-list"></i>
    <span>category</span>
  </button>
  <button class="cart-btn" title="Cartlist">
    <i id="mob-cart-round" class="fas fa-shopping-basket"></i>
    <span>cartlist</span><sup id="mob-cart-sup"><%= (cart != "undefined" && cart) ? cart.products.length : 0 ; %></sup>
  </button>
  <a href="/wishlist" title="Wishlist">
    <i id="mob-wish-round" class="fas fa-heart"></i>
    <span>wishlist</span>
    <sup class="wishlist-count" id="mob-wish-sup"><%= (wishlist != "undefined" && wishlist) ? wishlist.products.length : 0 ; %></sup>
  </a>
  <a href="/compare" title="Compare List">
    <i class="fas fa-random"></i>
    <span>compare</span>
    <sup>0</sup>
  </a>
</div>