<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="template" content="greeny">
  <meta name="title" content="greeny - Ecommerce Food Store HTML Template">
  <meta name="keywords" content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online">
  <title>Greeny - Reset Password</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="/fonts/icofont/icofont.min.css">
  <link rel="stylesheet" href="/fonts/fontawesome/fontawesome.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.min.css">
  <link rel="stylesheet" href="/vendor/slickslider/slick.min.css">
  <link rel="stylesheet" href="/vendor/niceselect/nice-select.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/user-auth.css">
</head>

<body>
  <section class="user-form-part">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="user-form-logo"><a href="/home"><img src="/images/logo.png" alt="logo"></a></div>
          <div class="user-form-card">
            <div class="user-form-title">
              <h2>worried?</h2>
              <p>No Problem! Just Follow The Simple Way</p>
            </div>
            <form class="user-form" id="form-reset-password" action="/reset-password" method="post">
              <div class="form-group"><input type="email" id="login-email" name="email" class="form-control" placeholder="Enter your email"></div>
              <p class="text-danger text-center mt-2" id="err-msg"><%= message %></p>
              <div class="form-button"><button type="submit">get reset link</button></div>
            </form>
          </div>
          <div class="user-form-remind">
            <p>Go Back To<a href="/login">login here</a></p>
          </div>
          <div class="user-form-footer">
            <p>Greeny | &COPY; Copyright by <a href="#">Mironcoder</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/vendor/bootstrap/jquery-1.12.4.min.js"></script>
  <script src="/vendor/bootstrap/popper.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/vendor/countdown/countdown.min.js"></script>
  <script src="/vendor/niceselect/nice-select.min.js"></script>
  <script src="/vendor/slickslider/slick.min.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/js/nice-select.js"></script>
  <script src="/js/countdown.js"></script>
  <script src="/js/accordion.js"></script>
  <script src="/js/venobox.js"></script>
  <script src="/js/slick.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/form-login.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>

</html>